.modal {
  position: relative;
}
.show{
  display: block;
}
.hide {
  display:none;
}

.productSpecModal {
  background-color: white;
  display: flex;
  z-index: 100;
  width: 90%;
  height: 90%;
  position: fixed;
  top: calc(5%);
  left: calc(5%);
}

.productSpec__textPart {
  height: 100%;
  justify-content: flex-start;
  padding-top: 5%;
}

.product_image {
  height: 100%;
}

.productSpec__textPart__downPart {
  justify-content: space-between;
  padding: 0 32px;
}

.closeModal {
  z-index: 101;
  position: fixed;
  cursor: pointer;
  text-align: center;
  top: 7%;
  right: 7%;
  background-color: rgb(214, 210, 210);
  width: 1.5rem;
  height: 1.5rem;
}

.bordered {
  border: 1px solid black;
}

.d-f-r {
  display: flex;
}

.d-f-c {
  display: flex;
  flex-direction: column;
}

.j-c-c {
  justify-content: center;
}

.a-i-c {
  align-items: center;
}

.g-8 {
  gap: 8px;
}

.g-16 {
  gap: 16px;
}

.g-24 {
  gap: 24px;
}
