* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.form {
  width: 100%;
  /*border: 1px solid gray;*/
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  /*opacity:0;*/
  transition: all 0.2s;
}

.form Button {
  width: 100%;
}
