* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mainContainer {
  display: flex;
  flex-wrap: nowrap;
  padding: 2rem;
}

.left-side {
  width: 70%;
}

.right-side {
  width: 30%;
}
html,
body,
#root {
  width: 100%;
  height: 100%;
}



.cart-Item{
  width: 100%;
  height: 5rem;
  padding:0.5rem;
  display: flex;
  gap: 0.7rem;
}

.title {
  text-align:center;
  padding:0.8rem;
  border-bottom:1px solid gray;
}
.card-container {
  /* width: 75%; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding-top: 8px;
}

