<<<<<<< HEAD
=======
.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
>>>>>>> main
